@import "variables";

* {
  font-family: $def-font;
  transition: all 300ms;

  &::selection{
    background: $select-bg;
    color: $select-color;
  }
}

mark{
  background: $mark-bg;
  color: $mark-color;
}

a{
  color: #142b6f;
  text-decoration: none;
}

body {
  color: $def-color;
  background-color: $def-bg-color;
}

.hidden{
  display: none;
}

.inline-block{
  display: inline-block;
}

hr{
  background-color: #aaa; 
}
