$def-color: #000;
$def-bg-color: #fff;
$def-font: Poppins;
$select-color: #fff;
$select-bg: #142b6f;
$mark-color: #000;
$mark-bg: #fdda05;
$second-color: #aaa;
$default-shadow: 0 1px 10px 1px #ddd;
$blackout-bg: #5555;
