@import "scss/def-settings";

.main{
  div{
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
}

#bottomPopup{
  position: fixed;
  display: flex;
  width: 25vw;
  height: 15vh;
  bottom: -20vh;
  left: 1vh;
  background-color: $def-bg-color;
  box-shadow: $default-shadow;
  z-index: 1019;
  padding-top: 5vh;

  img{
    object-fit: cover;
    height: 100%;
  }
  &.show{
  bottom: 1vh;
  }
}

#popup{
  position: absolute;
  z-index: 1022;
  position: fixed;
  top: 5vh;
  left: 30vw;
  width: 40vw;
  padding: 2vw;
  text-align: center;
  background-color: #fff;
  opacity: 0;

  *{
    padding: 1%;
  }
  input[type=text], input[type=email], button{
    width: 75%;
    border: 1px solid #cccc;
  }

  &.show{
  top: 20vh;
  opacity: 100%;
  }
}

#blackout{
  position: fixed;
  z-index: 1021;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: #0007;
}

#mainSlider{
  #firstSlider{
    .carousel-inner{
      .carousel-item{
        position: relative;
        img{
          margin-right: 15vw;
          margin-left: -15vw;
        }
        p, a{
        position: absolute;
        left: 50%;
        &:nth-child(2){
          top: 20%;
            font-size: 0.9rem;
            font-weight: 400;
          }
          &:nth-child(3){
          top: 25%;
            font-size: 4.5rem;
            font-weight: 500;
            color: #111;
          }
          &:nth-child(4) {
          top: 60%;
          left:60%;
            font-size: 4.5rem;
            font-weight: 500;
            color: $mark-bg;
            background-color: #111;
          }
          &:nth-child(5) {
            left:60%;
            top: 80%;
            padding: 2%;
            padding-top: 1%;
            padding-bottom: 1%;
          }
        }
      }
    }
  }
}

#mainBanner1{
  .col{
    position: relative;
    img{
      background-color: #fff;
      width: 100%;
    }
    div{
      position: absolute;
      left: 50%;
      top: 20%;
      p{
        margin-bottom: 1%;
        &:nth-child(1){
          text-transform: uppercase;
          font-size: 0.8rem;
          font-weight: light;
          color: #555;
        }
        &:nth-child(2) {
          font-size: 1.6rem;
          font-weight: 500;
          margin-bottom: 10%;
        }
      }
      a{
        @extend .addLink;
        &::after{
          content: " ❯";
        }
      }
    }
    &:hover{
      img{
        opacity: .7;
      }
    }
  }
}

#brandsCarouselDiv{
  text-align: center;
  p{
    color: $second-color;
  }
  #brandsCarousel{
    .carousel-inner{
      .carousel-item-end, .carousel-item-start{
        transform: translateX(0);
      }
      .carousel-item-end.active, .carousel-item-next{
        transform: translateX(14%);
      }
      .carousel-item-start.active, .carousel-item-prev {
        transform: translateX(-14%);
      }
    }
  }
}

#featuredProducts{
  #featuredTitle{
    text-align: center;
    p{
      color: $second-color;
    }
  }
  .sunglasses-gender{
    .col{
      position: relative;
      &:hover {
        img {
          opacity: .7;
        }
      }
      img{
        width: 100%;
      }
      p, a{
        position: absolute;
        top:0;
        left: 65%;
        text-transform: uppercase;
        &:nth-child(2){
          top: 25%;
          font-size: 0.9rem;
          font-weight: 300;
          color: $second-color;
        }
        &:nth-child(3) {
          top: 35%;
          font-size: 1.5rem;
          font-weight: 500;
        }
        &:nth-child(4) {
          top: 65%;
          padding: 1%;
          padding-left: 5%;
          padding-right: 5%;
        }
      }
    }
  }
}

#mainDeal{
  .row{
    .col{
      &:nth-child(1){
        p{
          font-size: 2rem;
          font-weight: 500;
        }
      }
      &:nth-child(2){
        img{
          width: 100%;
        }
      }
    }
  }
}

#mainBlog{
  p{
    margin: 0;
    &:nth-child(1){
      font-size: 2rem;
      font-weight: 500;
    }
    &:nth-child(2){
      color: $second-color;
    }
  }

  .row{
    .card{
      padding: 0;
      border: 0;
      box-shadow: 0;
      &:hover{
        box-shadow: $default-shadow;
      }
      .card-body{
        text-align: center;
        margin-top: 5vh;
        *{
          margin-bottom: 1vh;
        }
        .card-subtitle{
          color: $second-color;
          font-size: 0.9rem;
          font-weight: 400;
        }
        .card-title{
          color: $def-color;
          font-size: 1.4rem;
          font-weight: 500;
        }
        .card-text{
          color: $second-color;
          font-size: 0.9rem;
          font-weight: 400;
        }
        .card-link{
          @extend .addLink;
          margin-top: 5vh;
        }
      }
    }
  }
}

#mainBenefits{
  .row{
    .col{
      div{
        display: inline-flex;
        flex-direction: column;

        p{
          margin: 0;
          &:nth-child(1){
            font-size: 1.2rem;
          }
          &:nth-child(2) {
            color: $second-color;
            font-size: 0.9rem;
            font-weight: 300;
          }
        }
      }
    }
  }
}

#mainNewsletter{
  background-color: $select-bg;
  color: $select-color;
  button{
    width: 100%;
    padding: 0.5rem;
    border: 0;
    border-radius: 0.2rem;
    background-color: $def-bg-color;

    &:hover{
      background-color: $mark-bg;
    }
  }
  .container{
    .row{
      div{
        &:nth-child(1){
          p{
            &:nth-child(1){
              font-size: 1.5rem;
              font-weight: 600;
            }
            &:nth-child(2){
              color: $mark-bg;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}
